*
!vendor

!function-controller/cmd
!function-controller/pkg

!function-sidecar/cmd
!function-sidecar/pkg

!http-gateway/cmd
!http-gateway/pkg

!streaming-gateway/cmd
!streaming-gateway/pkg

!topic-controller/cmd
!topic-controller/pkg

!message-transport
!kubernetes-crds
